certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.0
cycler==0.12.1
fonttools==4.49.0
idna==3.6
kiwisolver==1.4.5
matplotlib==3.7.2
mplfinance==0.12.10b0
mthrottle==0.0.2
nse==0.2.8
numpy==1.26.4
packaging==24.0
pandas==2.0.3
pillow==10.2.0
pyparsing==3.0.9
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
six==1.16.0
tzdata==2024.1
urllib3==2.2.1
